<p>A research study coordinator would like you to fill out an MRI screening form for a possible study at {{ site_name }}.</p>
<br/>

<p>Study name: <b>{{project.name}}</b>({{ project.principal.name }})</p>
{% if project.participant_description %}
<p>Description: <b>{{project.participant_description}}</b></p>
{% endif %}
{% if study_details %}
<p>Details: <b>{{study_details}}</b></p>
{% endif %}

<p>Coordinator: <b>{{coordinator}}</b>{%if coordinator_phone %}, phone: {{coordinator_phone}}{% endif %}</p>
<br/>
<p><a href="{{ token_url }}">Please follow this link to fill out the form</a> (This link will expire on {{expiry}}).</p>
<br/>
<p>If you have any questions about the contents of the form, please contact the study coordinator: <b>{{coordinator_email}}</b>.</p>
<br/>
<p>If you are experiencing any technical issues or errors, please contact {{ site_name }} at <a href="mailto:{{contact_email }}">{{contact_email }}</a>.</p>
