<p>The state of a screening form for project <b>{{study_name}}</b>
  {% if subject.subjectid %}
  (subject ID: <b>{{subject.subjectid}}</b>)
  {%  endif %}
  has been changed and may require an action on your behalf.
<p>
<p>Description: <b>{{notify_description}}</b>
<p>Form: <a href="{{screening_form_url}}">Click here to access</a>
{% if history %}
<h3>Modifications history</h3>
<table>
  <tr>
    <th>new state</th>
    <th>create time</th>
    <th>modified by</th>
  </tr>
  {% for v in history %}
  <tr>
    <td>{{ v.state.str() }}</td>
    <td>{{ v.create_time_local }}</td>
    <td><a href="mailto:{{v.create_user.email}}"><b>{{v.create_user}}</b></a></td>
  </tr>
  {% endfor %}
</table>
{% endif %}
