{% import 'screening/macros.html' as sm with context %}

{% macro coordinator_fields(dt=display_type) %}
          <div class="screening-coordinator alert-secondary">
            {{ sm.render_element(dt, 'q_coordinator_comments', 'Coordinator Comments', label_width=2) }}
        </div>
{% endmacro %}

{% macro participant_fields(dt=display_type) %}
          <div class="screening-participant alert-warning">
          <div style="padding-bottom: 5%">
          {% if dt != 'details' %}
          <div class="col-md-1">
            <input type="checkbox" required name="attest" class="screening-attest-checkbox">
          </div>
          {% endif %}
          <div class="col-md-11">
            <label for="attest">I attest that the above information is correct to the best of my knowledge. I have read and understand
                the entire contents of this form and have had the opportunity to ask questions regarding the information
                on this form.
            </label>
          </div>
          </div>
           {{ sm.render_element(dt, 'q_participant_name', 'Please enter name', label_width=2) }}
           {{ sm.render_element(dt, 'q_participant_comments', 'Comments', label_width=2) }}

        </div>
{% endmacro %}

{% macro datacare_fields(dt=display_type) %}
          <div class="screening-tech alert-info">
            <div class="devices">
            {{ sm.render_element(dt, 'devices', 'Devices', label_width=2) }}
            </div>
            {{ sm.render_element(dt, 'q_mr_tech_comments', 'MR Technologist Comments', label_width=2) }}
        </div>
{% endmacro %}

<div class="screening-boundingbox">
    <h2>Magnetic Resonance Environment Screening Form</h2>
    <div class="screening-warning alert-danger">
        This MR system has a very strong static field that may be hazardous to individuals entering the magnet room
        if they have certain metallic, electronic, magnetic, or mechanical implants, devices or objects. Therefore, all
        individuals are required to fill out this form BEFORE entering the magnet room. Be advised, the magnet is ALWAYS
        ON.
    </div>
    <div class="screening-yesno" id="section_1">
      {% call(type) sm.render_conditional() %}
        {% if type =='control' %}
          {{ sm.render_element(display_type, 'q_prior_surgery', 'Have you had prior surgeries or operations (e.g. arthroscopy, endoscopy) of any kind?') }}
        {% elif type == 'target' %}
          {{ sm.render_element(display_type, 'q_prior_surgery_text', 'Please list surgeries with dates they were performed') }}
        {% endif %}
      {% endcall %}
      {% call(type) sm.render_conditional() %}
        {% if type =='control' %}
          {{ sm.render_element(display_type, 'q_eye_injury', 'Have you had an injury to the eye involving a metallic object (e.g. metallic slivers, foreign body)?') }}
        {% elif type == 'target' %}
          {{ sm.render_element(display_type, 'q_eye_injury_text', 'Please describe') }}
        {% endif %}
      {% endcall %}
      {% call(type) sm.render_conditional() %}
        {% if type =='control' %}
          {{ sm.render_element(display_type, 'q_injury_metallic', 'Have you ever been injured by a metallic object (e.g. BB, bullet, shrapnel, welding accident)?') }}
        {% elif type == 'target' %}
          {{ sm.render_element(display_type, 'q_injury_metallic_text', 'Please describe') }}
        {% endif %}
      {% endcall %}
        {{ sm.render_element(display_type, 'q_pregnant', 'Are you pregnant or suspect that you are pregnant?') }}
        {{ sm.render_element(display_type, 'q_contrast_agent', 'Have you had a previous contrast agent reaction?') }}
        {{ sm.render_element(display_type, 'q_breathing_motion', 'Do you have a breathing problem or a motion disorder?') }}
        {{ sm.render_element(display_type, 'q_claustrophobia', 'Do you have claustrophobia?') }}
    </div>

    <div class="screening-warning alert-danger">
        <p><b>WARNING</b>: Certain implants, devices or objects may be hazardous to you in the MR environment or the
            magnet room. <u>DO NOT ENTER</u> the MR environment or the magnet room if you have any of the following
            implants, devices or objects.</p>
        <p><b>IMPORTANT</b>: Remove all metallic objects (e.g. keys, coins, jewelry, glasses, phones) before entering the MR environment or magnet room. Loose metallic
            objects are especially prohibited.</p>
    </div>
    <div class="screening-yesno" id="section_2">
        <p><b>Please indicate if you have the following:</b></p>
        {{ sm.render_element(display_type, 'q_aneurysm', 'Aneurysm clip(s)') }}
        {{ sm.render_element(display_type, 'q_pacemaker', 'Cardiac pacemaker, pacemaker wires, or stents') }}
        {{ sm.render_element(display_type, 'q_icd', 'Implanted cardioverter defibrillator (ICD)') }}
        {{ sm.render_element(display_type, 'q_electronic_device', 'Electronic or magnetically-activated implant or device (e.g. electrodes, wires, metallic filter or coil)') }}
        {{ sm.render_element(display_type, 'q_neurostimulation', 'Neurostimulation system, spinal cord stimulator') }}
        {{ sm.render_element(display_type, 'q_bio_stimulator', 'Implanted or transcutaneous bio-stimulator (e.g. spinal cord, bone growth/bone fusion, tens unit)') }}
        {{ sm.render_element(display_type, 'q_infusion_pump', 'Insulin or other infusion pump') }}
        {{ sm.render_element(display_type, 'q_infusion_device', 'Implanted drug infusion device') }}
        {{ sm.render_element(display_type, 'q_prosthesis', 'Any type of prosthesis (e.g. heart valve, eyelid spring/wire, penile, limb)') }}
        {{ sm.render_element(display_type, 'q_shunt', 'Shunt (spinal or intraventricular)') }}
        {{ sm.render_element(display_type, 'q_vascular_catheter', 'Vascular access point and/or catheter') }}
        {{ sm.render_element(display_type, 'q_radiation_seeds', 'Radiation seeds or implants') }}
        {{ sm.render_element(display_type, 'q_swan_ganz_catheter', 'Swan-Ganz or thermodilution catheter') }}
        {{ sm.render_element(display_type, 'q_medication_patch', 'Medication patch (e.g. nicotine, nitroglycerine)') }}
        {{ sm.render_element(display_type, 'q_wire_mesh_implant', 'Wire mesh implant') }}
        {{ sm.render_element(display_type, 'q_surgical_metallic', 'Surgical staples, clips or metallic sutures') }}
        {{ sm.render_element(display_type, 'q_joint_replacement', 'Joint replacement (e.g. hip, knee)') }}
        {{ sm.render_element(display_type, 'q_bone_joint_hardware', 'Bone/joint pin, screw, nail, wire, plate, etc.') }}
        {{ sm.render_element(display_type, 'q_tissue_expander', 'Tissue expander (e.g. breast)') }}
        {{ sm.render_element(display_type, 'q_iud_diaphragm', 'IUD, diaphragm, or pessary') }}
        {{ sm.render_element(display_type, 'q_diabetic_sensors', 'Diabetic sensors') }}
        {{ sm.render_element(display_type, 'q_tattoo_cosmetics', 'Tattoo or permanent cosmetics') }}
        {{ sm.render_element(display_type, 'q_braces', 'Braces') }}
        {{ sm.render_element(display_type, 'q_body_piercing', 'Body piercing jewelry (must be removed)') }}
        {{ sm.render_element(display_type, 'q_dentures', 'Dentures or partial plates (must be removed)') }}
        {{ sm.render_element(display_type, 'q_hearing_aid', 'Hearing aid (must be removed)') }}
      {% call(type) sm.render_conditional() %}
        {% if type =='control' %}
          {{ sm.render_element(display_type, 'q_other_implants', 'Other implant(s)') }}
        {% elif type == 'target' %}
          {{ sm.render_element(display_type, 'q_other_implants_text', 'Please specify') }}
        {% endif %}
      {% endcall %}
        <div class="screening-warning alert-danger">
          <b>IMPORTANT</b>: If you answered <b>Yes</b> to any of the questions in the above section, please provide additional information (such as device type, make, model, manufacturer) in the comment section below.
        </div>
    </div>
    {% if admin_view.show_fields == 'participant' %}
      {{ participant_fields() }}
    {% elif admin_view.show_fields == 'coordinator' %}
      {{ participant_fields('details') }}
      {{ coordinator_fields() }}
      {{ datacare_fields('details') }}
    {% elif admin_view.show_fields == 'datacare' %}
      {{ participant_fields('details') }}
      {{ coordinator_fields('details') }}
      {{ datacare_fields() }}
    {% endif %}
</div>
