{% extends 'admin/model/details.html' %}

{% import 'screening/macros.html' as screening_macros with context %}

{% set display_type='details' %}
{% set form = admin_view.edit_form(obj=model) %}

{% block head_css %}
    {{ super() }}
    <style>
        input {
            pointer-events:none;
            opacity:0.7;
        }
    </style>
{% endblock %}


{% block details_table %}
    {# Display meta-data in a table #}
    <table class="table table-hover table-bordered searchable">
    {% for c, name in details_columns %}
        <tr>
          <td>
            <b>{{ name }}</b>
          </td>
          <td>
          {{ get_value(model, c) }}
          </td>
        </tr>
    {% endfor %}
    </table>
    {# Display the form itself using the corresponding version template #}
        {% set version = model.version %}
        <form class="admin-form form-horizontal">
        <div class="screening-form">
        {% include 'screening/versions/' + version + '.html' with context %}
        </div>
        </form>
{% endblock %}

{% block details_search %}
{% endblock %}

{% block body %}
  {{ super() }}
  {{ lib.add_modal_window() }}
{% endblock %}
