{% import 'admin/lib.html' as lib with context %}

{% from 'screening/versions/current.html' import current_version %}

{# Define URLs for AJAX calls #}
{% macro screening_js_vars() %}
  <script type=text/javascript>
    $subject_search_url = "{{ url_for('subject_search') }}";
    $project_search_url = "{{ url_for('project_search') }}";
    $project_description_url = "{{ url_for('project_description') }}";
    $entry_search_url = "{{ url_for('entry_search') }}";
  </script>
{% endmacro %}

{% macro render_element(type, name, label, label_width=4) %}
    {# This macro renders the element either as read-only (if type is detail, i.e. detail view), or as editable #}
    {% set field = form.__getattribute__(name) %}

    {# Set kwargs to field's render_kw property, if present  #}
    {% set kwargs = field.render_kw %}
    {% if not field.render_kw %}
        {% set kwargs = {} %}
    {% endif %}
    {# Create a deepcopy of kwargs because render_field will modify it (conditionally disable the field) #}
    {# These modifications should not persist across calls to render_element #}
    {% set kwargs_copy = {} %}
    {% for key, value in kwargs.items() %}
        {% do kwargs_copy.update({key: value}) %}
    {% endfor %}
    {# Update with kwargs from form_widget_args #}
    {% if form_opts %}
        {% set form_opts_kwargs = form_opts.widget_args.get(field.short_name, {}) %}
    {% else %}
        {% set form_opts_kwargs = {} %}
    {% endif %}
    {% for key, value in form_opts_kwargs.items() %}
        {% do kwargs_copy.update({key: value}) %}
    {% endfor %}
    {% do kwargs_copy.update({'label_width': label_width}) %}
    {% if type == 'form' %}
        {# Render a form element normally in edit/create view #}
        {{ render_field(form, field, kwargs_copy, label) }}
    {% elif type == 'details' %}
        {# Render a form element as read-only in details view #}
        {{ render_field(form, field, kwargs_copy, label, readonly=True) }}
    {% else %}
        {{ raise("Unknown element render type") }}
    {% endif %}
{% endmacro %}

{% macro render_conditional(hidden_on_yes=False, control_classes="", target_classes="") %}
  {# By default, the conditional target is hidden (and not required) on no, and visible (and required) on yes #}
  {# This can be negated by setting hidden_on_yes to True #}
  {# Add optional classes to the control and target elements with control_classes, target_classes #}
  <div class="conditional {% if hidden_on_yes %}hidden-on-yes{% endif %}">
    <div class="conditional-control{{ " "*(control_classes|length>0) + control_classes }}">
      {{ caller('control') }}
    </div>
    <div class="conditional-target{{ " "*(target_classes|length>0) + target_classes }}">
      {{ caller('target') }}
    </div>
  </div>
{% endmacro %}

{% macro render_field(form, field, kwargs, label, readonly=False) %}
    {# Wrapper for render_field that allows in-template label definition #}
    {% if label %}
        {% do field.label.__setattr__('text', label) %}
    {% endif %}
    {% if readonly %}
        {% do kwargs.update({'class': 'screening-view-disabled form-control ' + kwargs.get('class', ''), 'readonly':True, 'disable': True}) %}
    {% endif %}
    {# Pre-pend extra_classes to class property #}
    {% if 'extra_classes' in kwargs and kwargs['extra_classes'] %}
        {% do kwargs.update({'class': kwargs.get('extra_classes', '') + ' form-control ' + kwargs.get('class', ''), 'extra_classes': ''}) %}
        {% do kwargs.pop('extra_classes') %}
    {% endif %}
    {{ lib.render_field(form, field, kwargs) }}
{% endmacro %}

{% macro render_form_fields(form, field_list, form_opts=None) %}
    {# Render only pre-defined fields #}
    {% if form.hidden_tag is defined %}
        {{ form.hidden_tag() }}
    {% else %}
        {% if csrf_token %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% endif %}
        {% for f in form if f.widget.input_type == 'hidden' %}
            {{ f }}
        {% endfor %}
    {% endif %}

    {% for field in field_list %}
        {% if form_opts %}
            {% set kwargs = form_opts.widget_args.get(field.short_name, {}) %}
        {% else %}
            {% set kwargs = {} %}
        {% endif %}
        {{ render_field(form, field, kwargs) }}
    {% endfor %}
{% endmacro %}

{% macro render_screening_form_actions(actions, cancel_url=None, is_modal=False) %}
    <hr>
    <div class="control-group">
      <div class="controls">
        {% for action in actions %}
        {{ action.render_submit() }}
        {% endfor %}
        {% if cancel_url %}
          <a href="{{ cancel_url }}" class="btn btn-danger" {% if is_modal %}data-dismiss="modal"{% endif %}>{{ _gettext('Cancel') }}</a>
        {% endif %}
      </div>
    </div>
{% endmacro %}

{% macro render_form(form, cancel_url, form_opts=None, action=None, is_modal=False, version=current_version, state=admin_view._screening_state.created) %}
    {# screening form render #}

    {% set display_type='form' %}
    {% if state == admin_view._screening_state.archived %}
      {% call lib.form_tag(action=url_for('.delete_view')) %}
        {% set delete_form = admin_view.delete_form() %}
        {{ render_form_fields(delete_form, [], form_opts=form_opts) }}
        <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <p>This is an archived form. You can un-archive it to restore it to the previous state.</p>
          <br>
        <input class="btn btn-danger" type="submit" name="_unarchive" value="Un-Archive"
               onclick="return confirm(_('This will unarchive the form and place it into its previous state.'))"/>
      </div>
      {%  endcall %}
    {% endif %}
    {% call lib.form_tag(action=action) %}
        {% if admin_view.show_fields != 'participant' and state == admin_view._screening_state.completed %}
          <input class="btn btn-danger" type="submit" name="_clone_from_completed" value="Clone"
                 onclick="return confirm('This will copy contents of the form into a new form. You will have to either Approve or Confirm in order for it to be saved.')">
        {% endif %}
        {% if admin_view.show_fields != 'participant' %}
        {# Project-related fields #}
        <h2>Project</h2>
        {{ render_form_fields(form, [form.principal, form.project], form_opts=form_opts) }}
        {% endif %}
        {# Subject-related fields #}
        <h2>Subject</h2>
        {{ render_form_fields(form, admin_view.get_subject_fields(form), form_opts=form_opts) }}
        {% if admin_view.show_fields == 'datacare' %}
        <hr>
        {{ render_form_fields(form, [form.entry,], form_opts=form_opts) }}
        {% endif %}
        <input type="hidden" name="version" value="{{ version }}"/>
        {# The form itself #}
        <div class="screening-form">
        {% include 'screening/versions/' + version + '.html' %}
        </div>

        {{ render_screening_form_actions(admin_view._get_screening_actions(state), cancel_url, is_modal) }}
    {% endcall %}
{% endmacro %}
