{% extends "admin/master.html" %}

{% block body %}

  <h1>{{ _('MRI Screening Form') }}</h1>
  <div class="well">
  {% if form_success %}
    <p>Thank you for filling out and submitting your MRI screening form. The study coordinator will review it and contact you in case there are any issues.</p>
  {% else %}
    <p>A problem occurred when processing this form. It has not been successfully submitted.</p>
  {% endif %}
    <br>
    <p>You can contact the study coordinator by email:
      <ul>
        <li><b><a href="mailto:{{ contact.email }}">{{ contact.name}}</a></b></li>
      </ul>
  {% if contact_url %}
    <p>You can also contact us <a href={{ contact_url }}>here</a>.</p>
    <br>
  {% endif %}
  {% if link %}
    <p><a href={{ link.url }}>{{ link.text }}</a></p>
  {% endif %}
  </div>

{% endblock %}
