{% extends "admin/master.html" %}
{% import 'admin/lib.html' as lib with context %}
{% from 'screening/macros.html' import screening_js_vars %}

{% block head %}
  {{ super() }}
    <link href="{{ url_for('static', filename='css/screening.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {{ lib.form_css() }}
  {{ screening_js_vars() }}
{% endblock %}

{% macro render_def_field(field) %}
  {% if field is defined %}
    {% from "_formhelpers.html" import render_field %}
    {{ render_field(field, field_width_class='col-md-10') }}
  {% endif %}
{% endmacro %}

{% block body %}

  <h1>{{ _('Send Screening Form to Participant') }}</h1>
    <div class="screening-warning alert-info">
      <p>This form lets you generate a new screening form and send an email to participant with a link to it.</p>
      <p>Please provide the study name and some identifying details, as well as your name and phone number.</p>
      <p>Your email address will also be included in the email.</p>
    </div>
  <div class="well">
    <form class="form-horizontal" method="post" role="form" action="{{ url_for('screening_send.index_view') }}"
          name="participant_send">
      {{ form.hidden_tag() }}
      <dl>
        <h3>Participant</h3>
        {{ render_def_field(form.email) }}
        <br>
        <h3>Project/Study</h3>
        {{ render_def_field(form.principal) }}
        {{ render_def_field(form.project) }}
        {{ render_def_field(form.participant_description) }}
        {{ render_def_field(form.study_details) }}
        {{ render_def_field(form.entry) }}
        {{ render_def_field(form.coordinator) }}
        {{ render_def_field(form.coordinator_phone) }}

        <div class="col-md-offset-2 submit-row">
          <input class="btn btn-primary" type="submit" value="{{ _('Send') }}">
        </div>
      </dl>
    </form>
  </div>

{% endblock %}

{% block tail_js %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/screening.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{{ admin_static.url(filename='admin/js/form.js', v='1.0.1') }}"></script>

{% endblock %}
