/* Fix rendering of checkboxes in Firefox

see https://github.com/flask-admin/flask-admin/issues/1895
 */
input[type="checkbox"].form-control{
    width: auto;
    position: relative;
    float: inside;
    margin-top: 0;
    margin-bottom: 0;
    transform: scale(1.5);
}

/* Increase label widths for swarm elements*/

div.swarm div.form-group label{
    width: 25%;
}

div.swarm div.form-group div{
    width: 75%;
}

/* Allows select2 elements to be resized for narrower screens (e.g. mobile) */
.select2-container {
    max-width: 100%;
}

.inline-field {
    margin-bottom: 1rem;
}

.control-label {
    text-align: right;
}
