/* disable the delete button in list view.

 - disable in CSS because deletion is used for un-archiving and thus `can_delete` needs to be `True` in the ScreeningForm model view class
*/
td.list-buttons-column button{
    display: none;
}

/* displays radio buttons in horizontal orientation */
div.screening-form ul li {
    display: inline-flex;
    padding: 5px;
}

div.screening-form ul li:not[data-useragent*="Safari"] {
    /* Safari v13 (Webkit) does not display radio input box if scale is set to 1.1. Only apply*/
    transform: scale(1.1);
}

div.screening-form ul li label{
    margin: auto;
    padding: 0 30px 0 10px;
}

/* No border around radio buttons */
.screening-yesno ul.form-control {
    border: none;
}

.screening-qstring {
    width: 100%;
}

textarea.screening-qtext {
    width: 100%;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.screening-warning {
    padding: 10px;
    font-weight: bold;

}

div.screening-participant {
    padding: 10px;

}

div.screening-coordinator {
    padding: 10px;

}

div.screening-tech {
    padding: 10px;

}

div.screening-boundingbox {
    border: 1px solid black;
    padding: 10px;
    max-width: 1200px;
    margin: auto;
}

ul.input-errors {
    color: red;
    font-style: italic;
    list-style-type: none;
}

/* fully disable view-only elements (e.g. radio boxes) */
:not(textarea).screening-view-disabled {
    pointer-events: none;
}

ul#devices.form-control {
    border: none;
    background-color: inherit;
}

input[type="radio"]{
    margin: 4px 0 0 0;
}

/* Displays a larger screening form participant attest checkbox*/
.screening-attest-checkbox {
    transform: scale(1.5);
}
/* Space out buttons at the bottom and add margin*/
.control-group{
    margin-bottom: 20px;
}

.control-group input{
    margin: 0 20px 0 20px;
}

.control-group .btn{
    margin-bottom: 15px;
}
