<tr>
    <td>{{ description | e}}</td>
    <td>{{ operator | e }}</td>
    <td>{{ rate_name | e }}</td>
    <td><script>document.write(moment.unix({{ start_time }}).format('YYYY/MM/DD HH:mm'))</script></td>
    <td align="right">{{ '%0.2f' % duration }}</td>
    <td align="right">{{ '%0.2f' % hourly}}</td>
    <td align="center">{{ '%0.2f' % fixed }}</td>
    <td align="right">{{ '%0.2f' % cost }}</td>
</tr>
