{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}

{% block head_css %}
  {{ super() }}
  <script>
    window.addEventListener('load', function () {
      $('#loading-screen').remove();
    });
  </script>
{% endblock %}

{% block head %}
{{  super() }}
{{ lib.form_css() }}
{% endblock %}

{% block body %}
    {% call lib.form_tag() %}
      {{ lib.render_form_fields(form) }}
        <div class="col-md-offset-2 submit-row">
            <button class="btn btn-primary" type="submit" name="action" value="generate">{{ _('Generate') }}</button>
            <button class="btn btn-primary no-load" type="submit" name="action" value="export">{{ _('Export') }}</button>
        </div>
    {% endcall %}
{% endblock %}

{% block tail %}
{{ super() }}
{{ lib.form_js() }}
{% endblock %}
