<h1>{{ gettext('Billing Report for %(name)s', name=name) | e }}</h1>

<table>
    <thead>
        <tr>
            <th>{{ _('Description') | e }}</th>
            <th>{{ _('Operator') | e }}</th>
            <th>{{ _('Rate Class') | e }}</th>
            <th>{{ _('Start') | e }}</th>
            <th>{{ _('Duration') | e }}</th>
            <th>{{ _('Hourly') | e }}</th>
            <th>{{ _('Fixed') | e }}</th>
            <th>{{ _('Cost') | e }}</th>
        </tr>
    </thead>
    <tbody>
    {{ projects | safe }}
    </tbody>

    <tr class="principalSum">
        <td colspan="4"><h2>{{ _('Total ') | e }}{{ name | e }}</h2></td>
        <td>{{ '%0.2f' % total_duration }}</td>
        <td colspan="2"></td>
        <td>{{ '%0.2f' % total }}</td>
    </tr>
</table>
