<tr class="projectTitle">
    <td colspan="9"><h3>{{ name | e }}</h3></td>
</tr>

{{ entries | safe }}

<tr class="projectSum">
    <td colspan="4"><h3>{{ _('Subtotal ') | e }}{{ name | e }}</h3></td>
    <td>{{ '%0.2f' % total_duration }}</td>
    <td colspan="2">{{ speedcode | e }}</td>
    <td>{{ '%0.2f' % total }}</td>
</tr>
