<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title | e }}</title>

    <style type="text/css">
        table   { border-collapse: collapse; page-break-inside: auto; }
        tr      { page-break-inside: avoid; page-break-after: auto; }
        td      { page-break-inside: avoid; page-break-after: auto; padding: 0 15px 0 15px; }
        thead   { display: table-header-group; border-bottom: 1px solid black; }
        tfoot   { display: table-footer-group }

        .projectSum { border-top: 1px dashed red; }
        .principalSum { border-top: 1px solid red; }
        .projectTitle { border-bottom: 1px dashed black; }

        @media print {
            h1 { page-break-before: always;}
        }
    </style>
</head>
<body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js" integrity="sha512-fFkDTD3GpiLXZBIrfRu0etHZkCdWPkcNy4TjDqI3gQFVfbbDRFG5vV7w3mIeeOCvUY5cEKTUFiTetIsFtWjF1Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% if body %}
{{ body|safe }}
</table>
{% else %}
{{ _('No data to report') | e }}
{% endif %}

</body>
</html>
