<h1>{{ _('Summary') | e }}</h1>

<table>
    <thead>
        <tr>
            <th>{{ _('Name') | e }}</th>
            <th>{{ _('Cost') | e }}</th>
            <th>{{ _('Duration') | e }}</th>
            <th>{{ _('Projects') | e }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entry in summary %}
        <tr>
            <td>{{ entry.name | e }}</td>
            <td>{{ '%0.2f' % entry.cost }}</td>
            <td>{{ '%0.2f' % entry.duration }}</td>
            <td>{{ entry.projects }}</td>
        </tr>
    {% endfor %}
    </tbody>

    <tr class="principalSum">
        <td colspan="1"><h2>{{ _('Total') | e }}</h2></td>
        <td>{{ '%0.2f' % summary | sum(attribute='cost') }}</td>
        <td>{{ '%0.2f' % summary | sum(attribute='duration') }}</td>
        <td>{{ summary | sum(attribute='projects') }}</td>
    </tr>
</table>
