{% macro render_field(field, field_width_class="col-md-5") %}

  <div class="form-group row {% if field.errors %} has-error{% endif %}">
    <label for="{{ field.id }}" class="col-md-2 control-label">{{ field.label }}
    {% if field.flags.required %}
        <strong style="color: red">&#42;</strong>
      {%- else -%}
        &nbsp;
      {%- endif %}
    </label>
      <div class="{{ field_width_class }}">
      {% set _dummy = kwargs.setdefault('class', 'form-control') %}

      {{ field(**kwargs)|safe }}
      </div>
      <div class="col-md-10 offset-md-2">
      {% if field.description %}
        <p class="help-block">{{ field.description|safe }}</p>
      {% endif %}
      {% for error in field.errors %}
          <span class="help-block"><b>[{{ error }}]</b></span><br>
      {% endfor %}
      </div>
  </div>
{% endmacro %}
