{% extends 'cfmm/base.html' %}
{% import 'macros.html' as macros with context %}

{% block head_css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {{ super () }}
  <link href="{{ url_for('static', filename='css/mgmt.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="{{ url_for('static', filename='css/bootstrap-datepicker-dark.min.css') }}" rel="stylesheet">
  <link rel="icon" href="data:,">
{% endblock %}

{% block access_control %}
  {% if show_access_control | default(True) %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block access_control_dropdown %}
  {% if current_user.is_authenticated and documentation %}
  <a class="dropdown-item" href="{{ url_for('docs.page', page='index') }}" style="font-weight:bold">{{ _('Help') }}</a>
  {% endif %}
  {% if current_user.is_authenticated %}
    <a class="dropdown-item" href="{{ url_for('security.account') }}">{{ _('Account Settings') }}</a>
    <a class="dropdown-item" href="{{ url_for('security.logout') }}">{{ _('Log out') }}</a>
  {% else %}
    <a class="dropdown-item" href="{{ url_for('security.login') }}">{{ _('Log in') }}</a>
  {% endif %}
{% endblock %}

{% block tail_js %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/mgmt.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data.min.js" integrity="sha512-fFkDTD3GpiLXZBIrfRu0etHZkCdWPkcNy4TjDqI3gQFVfbbDRFG5vV7w3mIeeOCvUY5cEKTUFiTetIsFtWjF1Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
