{% extends "admin/master.html" %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-sm-8 col-sm-offset-2">
      <h2>{{ _('Links') }}</h2>

      <div class="card card-body bg-gradient-dark">
        <ul>
          {% for link in link_list | default([], true) %}
            <li>{{ macros.render_link(link) }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  {% if current_user.is_authenticated %}
    {% if not readonly and current_user.is_datacare %}
      <div class="row justify-content-center pt-3">
        <div class="col-sm-8 col-sm-offset-2">
          <h2>{{ _('Tasks') }}</h2>

          <div class="card card-body bg-gradient-dark">
            <ul>
              {% if user_creation %}
                <li><a href="{{ url_for('newuser.index') }}">{{ _('Create user account (external)') }}</a></li>
              {% endif %}
              {% if current_user.is_admin %}
                <li><a href="{{ url_for('sync_arc') }}">{{ _('Update DICOM server') }}</a></li>
                <li><a href="{{ url_for('update_ldap_view') }}">{{ _('Update LDAP server') }}</a></li>
                <li><a href="{{ url_for("admin.no_javascript")}}" id="task_ldap">{{ _('Update AD') }}</a></li>
                <li><a href="{{ url_for("admin.no_javascript")}}" id="task_ldap_users">{{ _('Update AD Users') }}</a></li>
                <li><a href="{{ url_for("admin.no_javascript")}}" id="task_ldap_groups">{{ _('Update AD Groups') }}</a></li>
              {% endif %}
            </ul>
            <div id="progress"></div>
          </div>
        </div>
      </div>

    {% endif %}
    {% if current_user.is_coordinator %}
      <div class="row justify-content-center pt-3">
        <div class="col-sm-8 col-sm-offset-2">
          <h2>{{ _('Screening Forms') }}</h2>

          <div class="card card-body bg-gradient-dark">
            <ul>
              <li><a href="{{ url_for('screening_send.index_view') }}">Send an MR Screening Form to a participant</a>
                {% if not current_user.is_datacare %}(for study coordinators only){% endif %}</li>
            </ul>
          </div>
        </div>
      </div>
    {% endif %}

    {% if current_user.is_datacare %}
      <div class="row justify-content-center pt-3">
        <div class="col-sm-8 col-sm-offset-2">
          <h2>{{ _('User Lists') }}</h2>
          <div class="card card-body bg-gradient-dark">
            <ul>
              <li><a href="{{ url_for('principals') }}">{{ _('List of principals') }}</a></li>
              <li><a href="{{ url_for('maintainers') }}">{{ _('List of project maintainers (principals and delegates)') }}</a></li>
              <li><a href="{{ url_for('all_users') }}">{{ _('List of all users') }}</a></li>
            </ul>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}

{% if current_user.is_datacare %}
<script type="text/javascript">
    window.onload = function() {
        document.getElementById("task_ldap").onclick = function() {
            start_task('{{ url_for('api.ldap_groups') }}');
            start_task('{{ url_for('api.ldap_users') }}');
            return false;
        };
        document.getElementById("task_ldap_users").onclick = function() {
            start_task('{{ url_for('api.ldap_users') }}');
            return false;
        };
        document.getElementById("task_ldap_groups").onclick = function() {
            start_task('{{ url_for('api.ldap_groups') }}');
            return false;
        };

        function start_task(task_url) {
            // add task status elements
            let div = $('<div class="progress"><div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0% PENDING</div></div><hr>');

            let status_div = div[0].childNodes[0];

            // send ajax POST request to start background job
            $.ajax({
                type: 'POST',
                url: task_url,
                headers: {
                    'X-CSRFToken': '{{ csrf_token() }}'
                },
                success: function(data, status, request) {
                    if (request.status === 202) {
                      $('#progress').append(div);
                      let status_url = request.getResponseHeader('Location');
                      update_progress(status_url, status_div);
                    }
                    else {
                      location.reload();
                    }
                },
                error: function() {
                    location.reload();
                }
            });
        }

        function update_progress(status_url, status_div) {
            // send GET request to status URL
            $.getJSON(status_url, function(data) {
                // update UI
                let percent = Math.round(parseInt(data['current']) * 100 / parseInt(data['total']));
                status_div.ariaValueNow = data['current'];
                status_div.ariaValueMax = data['total'];
                status_div.style.width = percent + '%';
                status_div.textContent = percent + '% ' + data['status'];
                if (data['state'] !== 'PENDING' && data['state'] !== 'PROGRESS' && data['state'] !== 'UNKNOWN') {
                    if ('result' in data) {
                        // show result
                        status_div.textContent = data['result']
                    }
                    else {
                        // something unexpected happened
                        status_div.textContent = data['state']
                    }
                }
                else {
                    // rerun in 2 seconds
                    setTimeout(function() {
                        update_progress(status_url, status_div);
                    }, 2000);
                }
            });
        }
    };
</script>
{% endif %}

{% endblock %}
