{% macro render_button(name, value='', type='submit', _class='btn btn-default') %}
    <!--suppress HtmlFormInputWithoutLabel -->
    <input type="{{ type }}" name="{{ name }}" value="{{ value }}" class="{{ _class }}" />
{% endmacro %}

{% macro render_group(caller=None) %}
    <div class="form-group col">
      <div class="row">
        <label class="col-md-2 control-label"></label>
        <div class="col-md-10">
          {{ caller() }}
        </div>
      </div>
    </div>
{% endmacro %}

{% macro render_csrf(form, field, kwargs={}, caller=None) %}
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
{% endmacro %}

{% macro render_link(link) %}
  {% if link %}{{ (link.format | default('{ref}')).format(ref='<a href={url}>{text}</a>'.format(url=link.url, text=link.text | e)) | safe }}{% endif %}
{% endmacro %}
