{% extends "admin/master.html" %}

{% block body %}
  <div class="row justify-content-center">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>{{ _('New User') }}</h1>

      {% from "_formhelpers.html" import render_field %}
      <div class="card card-body bg-gradient-dark">
        <form class="form-horizontal" method="post" role="form" action="{{ url_for('newuser.index') }}" name="login">
          {{ form.hidden_tag() }}
          <dl>
            {{ render_field(form.firstName) }}
            {{ render_field(form.lastName) }}
            {{ render_field(form.email) }}
            {{ render_field(form.username) }}

            <div class="offset-md-2 submit-row">
              <input class="btn btn-primary" type="submit" value="{{ _('Create') }}">
            </div>
          </dl>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
